= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-signin
    %h2.form-signin-header Log In
    = f.input :email, required: false, autofocus: true, label: false, placeholder: "Email"
    = f.input :password, required: false, label: false, placeholder: "Password"
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    = f.button :submit, "Log in", :class => 'btn btn-lg btn-warning btn-block' 
    %hr
    .text-center
      %a.btn.btn-primary-outline{:href=>user_omniauth_authorize_path(:facebook)} Sign in with Facebook 
      %hr
      = render "devise/shared/links"



