!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TaskHamster
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-light.navbar-fixed-top.bg-faded
        .navbar-nav
          %a.navbar-brand{:href => root_path} TaskHamster	
          %a.nav-link.pull-right{:href => "#{}"} PoopyPants
          .pull-right
            %a.icon.icon-news.icon-large{:href => new_project_path } New Project
            &nbsp;&nbsp;&nbsp;
            %a.icon.icon-circle-with-plus.icon-large{:href => new_task_path } New Task
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = yield
