%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TaskHamster
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-light.navbar-fixed-top.bg-faded{:style => "background-color:#f0ad4e"}
        .navbar-nav
          %a.navbar-brand{:href => root_path} TaskHamster	
          /%a.nav-link.pull-right{:href => "#{}"} 
          /  .icon.icon-cog PoopyPants
          -if user_signed_in?
            %a.btn.btn-secondary{:href => projects_path} My Projects
            .pull-right
              .icon.icon-log-out.header-link
                =link_to "sign out", destroy_user_session_path, method: :delete
              /%a.icon.icon-log-out.header-link{:href => destroy_user_session_path, :"data-method" => "delete" } Log Out
            .pull-right
              /%a.icon.icon-circle-with-plus.header-link{:href => new_project_path } Project
              %a.icon.icon-circle-with-plus.header-link{"data-container" => "body", "data-content" => "#{render 'projects/new_project'}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", "data-html"=>"true"}
                Project
              /%a.icon.icon-circle-with-plus.header-link{:href => new_task_path } Task              
              &nbsp;&nbsp;
      = yield
    .about
      %nav.navbar.navbar-light.navbar-fixed-bottom.bg-faded.nav-white.about
        .pull-right
          %a.about{:href=>static_pages_about_path} What is TaskHamster?

:javascript
  $(function () {
    $('[data-toggle="popover"]').popover()
  })